<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock title %}</title>

    <link type="image/x-icon" rel="shortcut icon" href="{% static "panorama/img/tsf.png" %}"/>

    <link href="{% static "panorama/css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "panorama/css/sb-admin.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "panorama/css/plugins/morris.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "panorama/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "panorama/css/celutz.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "panorama/css/bootstrap-select/1.11.2/css/bootstrap-select.min.css" %}" rel="stylesheet" type="text/css">
    {% block css %}{% endblock css %}

    <script type='text/javascript' src="{% static "panorama/js/html5shiv/3.7.0/html5shiv.js" %}"></script>
    <script type='text/javascript' src="{% static "panorama/js/respond.js/1.4.2/respond.min.js" %}"></script>
    <script type='text/javascript' src="{% static "panorama/js/jquery-3.1.0.min.js" %}"></script>
    <script type='text/javascript' src="{% static "panorama/js/bootstrap-select/1.11.2/js/bootstrap-select.min.js" %}"></script>
  </head>

  <body>
    {# Add base structure here, menu, etc... #}
   <div id="wrapper" {% block wrapper-style %}{% endblock wrapper-style %}>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% block top-menu-title %}
                {% endblock top-menu-title %}
            </div>
            <ul class="nav navbar-pano top-nav">
                {% block top-menu-pano-items %}
                {% endblock top-menu-pano-items %}
            </ul>
            <ul class="nav navbar-right top-nav">
                <li>
                    <a href="{% url 'admin:index' %}"><i class="fa fa-pencil-square-o"></i>  {% trans "Admin" %}</a>
                </li>
                <li class="dropdown langue">
                  <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select class="selectpicker" title="     {% trans "Language" %}" name="language" onchange='this.form.submit()'>
                      {% get_available_languages as LANGUAGES %}
                      {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                          <option value="{{ language.code }}">
                               {{ language.name_local }}
                          </option>
                        {% endfor %}
                    </select>
                    <noscript><input type="submit" value="Submit"></noscript>
                  </form>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-info-circle"></i>  {% trans "About" %}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                           <p>{% blocktrans %}Celutz is a tool for managing and referencing panoramic photos{% endblocktrans %}.
                           <a href="https://code.ffdn.org/FFDN/celutz/">{% trans "Project homepage" %}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% block sidebar %}
            {% endblock sidebar %}
        </nav>
        {% block pano %}{% endblock pano %}
        <div id="page-wrapper" {% block page-wrapper-style %}{% endblock page-wrapper-style %}>
        {% block content %}{% endblock content %}
        </div>
    </div>
    {% block js %}
    {% endblock js %}

    <script src="{% static "panorama/js/jquery.js" %}"></script>
    <script src="{% static "panorama/js/bootstrap.min.js" %}"></script>
  </body>
</html>
