<h1>Celutz</h1>

<p>Celutz is a tool for managing and referencing panoramic photos.  <a href="https://code.ffdn.org/FFDN/celutz/">Project homepage</a>.</p>

<h2>Panoramas</h2>
<p>
  <ul>
    {% for pano in panoramas %}
    <li>{{ pano.name }} ({{ pano.latitude}}°, {{ pano.longitude }}°, {{ pano.altitude }}m).  Has tiles: {{ pano.has_tiles|yesno }}.  <a href="{% url 'panorama:view_pano' pano.id %}">View panorama</a></li>
    {% endfor %}
  </ul>
</p>

<h2>New panorama</h2>

<p><a href="{% url 'panorama:new' %}">Add new panorama</a></p>

<h2>Locate a point</h2>

<p><a href="{% url 'panorama:locate' %}">Locate a point</a> by listing all panoramas that can see this point</p>

<h2>Add reference point</h2>

<p><a href="{% url 'admin:app_list' 'panorama' %}">In the administration interface</a> for now.</p>

<h2>Documentation</h2>

<p><a href="https://code.ffdn.org/FFDN/celutz/src/master/README.md">Detailed documentation</a>.</p>
