{% extends "panorama/main.html" %}
{% load panorama_url %}
{% load static %}
{% load distance_filter %}
{% load i18n %}

{% block title %}{% trans "Celutz, a panorama viewer"%}{% endblock title %}

{% block top-menu-title %}
    <a class="navbar-brand" href="{% url 'panorama:main' %}">Celutz</a>
{% endblock %}

{% block top-menu-items %}
{% endblock %}

{% block sidebar %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
    {% include "panorama/sidebar-simple.html" %}
    </ul>
</div>
{% endblock %}

{% block wrapper-style %}
{% endblock %}

{% block page-wrapper-style %}
style="padding:0px"
{% endblock %}

{% block content %}
  {% if located_panoramas != None %}
    <div id="location-result"></div>
    {% if located_panoramas|length == 0 %}
      <p><strong>No panorama seeing this point!</strong></p>
    {% else %}
      <div id="map"></div>
    {% endif %}
  {% endif %}
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
{% endblock css %}

{% block js %}
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
<script>
    var map;
    var ajaxRequest;
    var plotlist;
    var plotlayers=[];
    var markerClusters = L.markerClusterGroup({
    spiderfyOnMaxZoom: false,
    showCoverageOnHover: false,
    maxClusterRadius: 20
    });

    function initmap() {
        // set up the map
        map = new L.Map('map');

        // create the tile layer with correct attribution
        var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
        var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});
        // start the map in Grenoble
        map.setView(new L.LatLng(45.1842, 5.7218),13);
        map.addLayer(osm);

        // Marker for the point being located
        var locatedIcon = L.icon({
            iconUrl: '{% static "panorama/img/marker-deep-blue.png" %}',
            iconSize: [22, 35],
            iconAnchor: [11, 35],
        });
        located = new L.marker([{{ located_point_lat }}, {{ located_point_lon }}], {icon: locatedIcon});
        located.addTo(map);

        map.on('moveend', function(e) {
            var lat = map.getCenter().lat;
            var lng = map.getCenter().lng;
            $('#id_latitude').val(lat);
            $('#id_longitude').val(lng);
            $.get("http://api.geonames.org/astergdem?lat="+lat+"&lng="+lng+"&username=celutz&style=full" ).done(
                function(data) {
                    $('#id_altitude').val(parseInt(data));
                });
        });
    var panoIcon = L.icon({
        iconUrl: '{% static "panorama/img/marker-red.png" %}',
        iconSize: [22, 35],
        iconAnchor: [11, 35],
        popupAnchor: [0,-50],
    });
    {% for panorama, distance, bearing, elevation in located_panoramas %}
        var marker = L.marker([{{ panorama.latitude }}, {{ panorama.longitude }}], {icon: panoIcon, riseOnHover: true});
        marker.bindPopup('{{ panorama.name }} ({% trans "at" %} {{ distance|distance }})',{className : 'markerpopup', closeButton: false,}).on('mouseover', marker.openPopup).on('mouseout', marker.closePopup);
        marker.on("click",function(){document.location.href="{% panorama_url panorama bearing elevation %}"});
        markerClusters.addLayer( marker );
        L.polyline([[{{ located_point_lat }}, {{ located_point_lon }}],[{{ panorama.latitude }}, {{ panorama.longitude }}]], {color: '#2636ca', opacity: 0.8, weight: 2, dashArray: "5, 6"}).addTo(map);
    {% endfor %}
    map.addLayer( markerClusters );
    }
    initmap();
</script>
{% endblock js %}
