{% extends "panorama/base.html" %}
{% load panorama_url %}
{% load static %}
{% load distance_filter %}
{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Celutz, a panorama viewer"%}{% endblock title %}

{% block top-menu-title %} 
    <a class="navbar-brand" href="{% url 'panorama:main' %}">Celutz</a> 
{% endblock %}

{% block top-menu-items %}
{% endblock %}

{% block sidebar %}
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
    {% include "panorama/sidebar-all.html" %}
    </ul>
</div>
{% endblock %}

{% block wrapper-style %}
{% endblock %}

{% block page-wrapper-style %}
    style="padding:0px;height:calc(100vh - 50px)"
{% endblock %}

{% block content %}
    <div id="map"></div>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
{% endblock content %}

{% block css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" type="text/css" href="{% static "panorama/css/markercluster.override.css" %}" />
{% endblock css %}

{% block js %}
{% localize off %}
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js'></script>
    <script>
        var map;
        var ajaxRequest;
        var plotlist;
        var plotlayers=[];
        var allMarkers = []
        var markerClusters = L.markerClusterGroup({
            spiderfyOnMaxZoom: false,
            showCoverageOnHover: false,
            maxClusterRadius: 20
        });
        var crosshairIcon = L.icon({
            iconUrl: '{% static "panorama/img/marker-blue.png" %}',
            iconSize:     [22, 35],
            iconAnchor:   [11, 35]
        });
        var panoIcon = L.icon({
            iconUrl: '{% static "panorama/img/marker-red.png" %}',
            iconSize: [22, 35],
            iconAnchor: [11, 35],
            popupAnchor: [0,-50]
        });
        var poiIcon = L.icon({
            iconUrl: '{% static "panorama/img/marker-circle-green.png" %}',
            iconSize: [20, 20],
            iconAnchor: [10, 10],
            popupAnchor: [0,-20]
        });
    
        function accordionMenus() {
            $("ul.side-nav").children().click(function(e) {
                var menu = $(e.target);
                var content = menu.next();
                var contentid = content.attr("id");
                if (content.is("ul") && content.hasClass("collapse") && !content.hasClass('in')) {
                    $(".collapse.in").each(function(){ 
                        $(".collapse.in").animate({height: '1px'}, 500, function(){
                            $(".collapse.in").not(document.getElementById(contentid)).removeClass("in");
                        });
                    });
                };
            });
        }
        function fillCoord() {
            var lat = map.getCenter().lat.toFixed(5);
            var lng = map.getCenter().lng.toFixed(5);
            $('#id_custompoint-latitude').val(lat);
            $('#id_newpano-latitude').val(lat);
            $('#id_newrefpoint-latitude').val(lat);
            $('#id_custompoint-longitude').val(lng);
            $('#id_newpano-longitude').val(lng);
            $('#id_newrefpoint-longitude').val(lng);
            $.get("http://api.geonames.org/astergdem?lat="+lat+"&lng="+lng+"&username=celutz&style=full" ).done(
                function(data) {
                    $('#id_custompoint-altitude').val(parseInt(data));
                    $('#id_newpano-altitude').val(parseInt(data));
                    $('#id_newrefpoint-altitude').val(parseInt(data));
                });
        }
    
        function initmap() {
            // set up the map
            map = new L.Map('map');
    
            // create the tile layer with correct attribution
            var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib = 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
            var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});
    
            // start the map in Grenoble
            map.setView(new L.LatLng(45.1842, 5.7218),13);
            map.addLayer(osm);
    
            // Add in a crosshair for the map
            crosshair = new L.marker(map.getCenter(), {clickable:false,icon:crosshairIcon});
            crosshair.addTo(map);
    
            // Move the crosshair to the center of the map when the user pans
            map.on('move', function(e) {
                crosshair.setLatLng(map.getCenter());
            });
    
            // Autofill forms while moving crosshair and expanding menus
            map.on('moveend', function(e) {
                if ($("#locate-gps,#new-pano,#new-refpoint").hasClass("collapse in")){
                    fillCoord();
                }
            });
            $('#locate-gps-btn, #new-pano-btn, #new-refpoint-btn').click(function(e) {
                fillCoord();
            });
    
            // Create markers for panoramas
            {% for pano in panoramas %}
                var marker = L.marker([{{ pano.latitude }}, {{ pano.longitude }}], {icon: panoIcon, riseOnHover: true});
                marker.on("click",function(){document.location.href="{% url 'panorama:view_pano' pano.id %}"});
                var popup = marker.bindPopup('{{ pano.name }}',{className : 'markerpopup', closeButton: false,});
                popup.on('mouseover', marker.openPopup);
                popup.on('mouseout', marker.closePopup);
                markerClusters.addLayer( marker );
                allMarkers.push([{{ pano.latitude }}, {{ pano.longitude }}]);
            {% endfor %}
            map.addLayer( markerClusters );
            // Add POI
            var pointsOfInterest = L.layerGroup();
            var options = {icon: poiIcon, riseOnHover: true};
            {% for poi in poi_list %}
                var poiMarker = L.marker([{{ poi.latitude }}, {{ poi.longitude }}], options);
                var poiPopup = poiMarker.bindPopup('{{ poi.name }}', {className : 'markerpopup', closeButton: false});
                poiPopup.on('mouseover', poiMarker.openPopup);
                poiPopup.on('mouseout', poiMarker.closePopup);
                pointsOfInterest.addLayer(poiMarker);
            {% endfor %}
            map.addLayer(pointsOfInterest);
            map.fitBounds(allMarkers,{padding: [30, 30]});
            }
        initmap();
        accordionMenus(); 
    </script>
{% endlocalize %}
{% endblock js %}
