{% load i18n %}
{% load panorama_url %}
{% load distance_filter %}
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#panos"><i class="fa fa-fw fa-image"></i> {% trans "Panoramas" %}<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="panos" class="collapse">
              {% for pano in panoramas %}
              <li><a href="{% url 'panorama:view_pano' pano.id %}"><i class="fa fa-fw fa-eye"></i> {{ pano.name }}</a></li>
              {% endfor %}
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#locate-existing"><i class="fa fa-fw fa-circle-thin"></i> {% trans "Locate existing point" %}<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="locate-existing" class="collapse">
                <li>
                    <form action="{% url 'panorama:locate_refpoint' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
                      {{ refpoints_form.as_p }}
                      <input type="submit" class="btn btn-primary btn-sm" value={% trans "Locate" %} />
                    </form>
                </li>
            </ul>
        </li>
        <li>
            {% if located_point_name != None %}
                <a href="#"><i class="fa fa-fw fa-eye"></i> {% trans "Results for the point" %} <b>{{ located_point_name }}</b></a>
            {% else %}
                <a href="#"><i class="fa fa-fw fa-eye"></i> {% trans "Results for the searched point" %}</a>
            {% endif %}
            <ul>
              {% for panorama, distance, bearing, elevation in located_panoramas %}
              <li><a href="{% panorama_url panorama bearing elevation %}" class="pano-result-list"><i class="fa fa-fw fa-map-marker"></i> {{ panorama.name }}<p>({% trans "at" %} {{ distance|distance }})</p></a></li>
              {% endfor %}
            </ul>
        </li>

