{% load i18n %}
{% load l10n %}
{% load panorama_url %}
{% load distance_filter %}
{% include "panorama/sidebar-common.html" %}
{% localize off %}
        <li>
            {% if located_point_name != None %}
                <a href="javascript:;" data-toggle="collapse" data-target="#result"><i class="fa fa-fw fa-eye"></i> {% trans "Results for the point" %} <b>{{ located_point_name }}</b></a>
            {% else %}
                <a href="javascript:;" data-toggle="collapse" data-target="#result"><i class="fa fa-fw fa-eye"></i> {% trans "Results for the searched point" %}</a>
            {% endif %}
            <ul id="result" class="collapse in">
              {% for panorama, distance, bearing, elevation in located_panoramas %}
              <li><a href="{% panorama_url panorama bearing elevation %}" class="pano-result-list"><i class="fa fa-fw fa-map-marker"></i> {{ panorama.name }}<p>({% trans "at" %} {{ distance|distance }})</p></a></li>
              {% endfor %}
            </ul>
        </li>
{% endlocalize %}
