{% load i18n %}
{% load l10n %}
{% localize off %}
        <li>
            <a href="{% url 'panorama:main' %}"><i class="fa fa-fw fa-home"></i> {% trans "Map" %}</a>
        </li>
{% include "panorama/sidebar-common.html" %}
        <li>
            <a id="locate-gps-btn" href="javascript:;" data-toggle="collapse" data-target="#locate-gps"><i class="fa fa-fw fa-map-marker"></i> {% trans "Locate GPS point" %}<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="locate-gps" class="collapse">
                <li>
                    <form action="{% url 'panorama:locate_custompoint' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
                        {{ custom_point_form.latitude.label_tag }}{{ custom_point_form.latitude }}
                        {{ custom_point_form.longitude.label_tag }}{{ custom_point_form.longitude }}
                        {{ custom_point_form.altitude.label_tag }}{{ custom_point_form.altitude }}
                        <input type="submit" class="btn btn-primary btn-sm" value={% trans "Locate" %} />
                    </form>
                </li>
            </ul>
        </li>
        <li>
            <a id="new-refpoint-btn" href="javascript:;" data-toggle="collapse" data-target="#new-refpoint"><i class="fa fa-fw fa-plus-square"></i> {% trans "Add new reference point" %}<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="new-refpoint" class="collapse">
                <li>
                    <form action="{% url 'panorama:new_refpoint' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
                        {{ newrefpoint_form.name.label_tag }}{{ newrefpoint_form.name }}
                        {{ newrefpoint_form.latitude.label_tag }}{{ newrefpoint_form.latitude }}
                        {{ newrefpoint_form.longitude.label_tag }}{{ newrefpoint_form.longitude }}
                        {{ newrefpoint_form.altitude.label_tag }}{{ newrefpoint_form.altitude }}
                        <input type="submit" class="btn btn-primary btn-sm" value={% trans "Add" %} />
                    </form>
                </li>
            </ul>
        </li>
        <li>
            <a id="new-pano-btn" href="javascript:;" data-toggle="collapse" data-target="#new-pano"><i class="fa fa-fw fa-plus-square"></i> {% trans "Add new panorama" %}<i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="new-pano" class="collapse">
                <li>
                    <form action="{% url 'panorama:new' %}" enctype="multipart/form-data" method="post">{% csrf_token %}
                        {{ newpanorama_form.name.label_tag }}{{ newpanorama_form.name }}
                        {{ newpanorama_form.image.label_tag }}{{ newpanorama_form.image }}
                        <label for="{{ newpanorama_form.loop.id_for_label }}">{{ newpanorama_form.loop }} {{ newpanorama_form.loop.label }}</label>
                        {{ newpanorama_form.latitude.label_tag }}{{ newpanorama_form.latitude }}
                        {{ newpanorama_form.longitude.label_tag }}{{ newpanorama_form.longitude }}
                        {{ newpanorama_form.altitude.label_tag }}{{ newpanorama_form.altitude }}
                        <input type="submit" class="btn btn-primary btn-sm" value={% trans "Add" %} />
                    </form>
                </li>
            </ul>
        </li>
{% endlocalize %}
