{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8"/>
    <title>{{ panorama.name }}</title>
    <script>
      var title = "{{ panorama.name|escapejs }}";
      var panorama_id = {{ panorama.pk }};
      var panorama_url = "/api/v1/panoramas/{{ panorama.pk }}/";
      var img_prefix = '{{ panorama.tiles_url }}';
      var image_loop = {{ panorama.loop|yesno:"true,false,undefined" }};
      var image_width = {{ panorama.image_width }};
      var image_height = {{ panorama.image_height }};
      var csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% static "panorama/js/pano.js" %}"></script>
    <script>window.onload = load_pano</script>
    <script>
      {% for zoom_level, data in panorama.tiles_data.items %}
      zooms[{{ zoom_level }}] = new tzoom({{ zoom_level }});
      zooms[{{ zoom_level }}].ntiles.x = {{ data.ntiles_x }};
      zooms[{{ zoom_level }}].ntiles.y = {{ data.ntiles_y }};
      zooms[{{ zoom_level }}].tile.width = {{ data.tile_width }};
      zooms[{{ zoom_level }}].tile.height = {{ data.tile_height }};
      zooms[{{ zoom_level }}].last_tile.width = {{ data.last_tile_width }};
      zooms[{{ zoom_level }}].last_tile.height = {{ data.last_tile_height }};
      {% endfor %}

      {% for id, refpoint in panorama.refpoints_data %}
      point_list[{{ id }}] = new Array("{{ refpoint.name|escapejs }}", {{ refpoint.distance }}, {{ refpoint.cap }}, {{ refpoint.elevation }}, "{{ refpoint.url }}", "/api/v1/refpoints/{{ refpoint.id }}/");
      {% endfor %}

      ref_points = new Array();
      {% for ref in panorama.references_data %}
      ref_points["{{ ref.name|escapejs }}"] = {url: "/api/v1/references/{{ ref.id }}/", x: {{ ref.x }}, y: {{ ref.y }}, cap: {{ ref.cap }}, ele: {{ ref.elevation }}};
      {% endfor %}
    </script>
    <link type="image/x-icon" rel="shortcut icon" href="{% static "panorama/img/tsf.png" %}"/>
    <link rel="stylesheet" media="screen" href="{% static "panorama/css/map.css" %}" />
    <script src="{% static "panorama/js/hide_n_showForm.js" %}"></script>
  </head>
  <body>
    <canvas id="mon-canvas">
      Ce message indique que ce navigateur est vétuste car il ne supporte pas <samp>canvas</samp> (IE6, IE7, IE8, ...)
    </canvas>

    <fieldset id="control"><legend>contrôle</legend>
      <label>Zoom : <input type="range" min="0" max="2" value="2" id="zoom_ctrl"/></label>
      <label>Cap : <input type="number" min="0" max="360" step="10" value="0" autofocus="" id="angle_ctrl"/></label>
      <label>Élévation : <input type="number" min="-90" max="90" step="1" value="0" autofocus="" id="elvtn_ctrl"/></label>
    </fieldset>

    <div id="params">
      <p>latitude :   <em><span id="pos_lat">{{ panorama.latitude }}</span>°</em></p>
      <p>longitude : <em><span id="pos_lon">{{ panorama.longitude }}</span>°</em></p>
      <p>altitude : <em><span id="pos_alt">{{ panorama.altitude }}</span> m</em></p>
    </div>
    <img src="{% static "panorama/img/locapoint.svg" %}" id="loca_show" alt="localiser un point" title="pour localiser un point..."/>
    <fieldset id="locadraw"><legend id="loca_hide">Localiser un point</legend>
      <label class="form_col" title="La latitude ϵ [-90°, 90°]. Ex: 12.55257">Latitude :
        <input  name="loca_latitude" type="number" min="-90" max="90"  id="loca_latitude"/></label>
      <label class="form_col" title="La longitude ϵ [-180°, 180°]. Ex: 144.14723">Longitude :
        <input name="loca_longitude" type="number" min="-180" max="180" id="loca_longitude"/></label>
      <label class="form_col" title="L'altitude positive Ex: 170">Altitude :
        <input  name="loca_altitude" type="number" min="-400" id="loca_altitude"/></label>
      <div class="answer">
        <input type="button" value="Localiser" id="loca_button"/>
        <input type="button" value="Effacer" id="loca_erase"/>
      </div>
    </fieldset><p id="info"></p>
    <p id="insert"><select id="sel_point" name="known_points">
        {% for id, refpoint in panorama.refpoints_data %}
        <option>{{ refpoint.name }}</option>
        {% endfor %}
      </select>
      <input type="button" id="do-insert" value="insérer"/>
      <input type="button" id="do-delete" value="supprimer"/>
      <input type="button" id="do-cancel" value="annuler"/>
    </p>
    <p id="res"></p>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <div id="mapid" style="height: 1000px; "></div>
    <style type="text/css">
      body{overflow : scroll;}
    </style>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script>
      function toRad(n) {
        return n * Math.PI / 180;
      }
      function toDeg(n) {
        return n * 180 / Math.PI;
      }
      function destVincenty(lat1, lon1, brng, dist) {
        /* JavaScript function to calculate the destination point given start point
         * latitude / longitude (numeric degrees), bearing (numeric degrees) and
         * distance (in m).
         * Original scripts by Chris Veness
         * Taken from http://movable-type.co.uk/scripts/latlong-vincenty-direct.html
         * and optimized / cleaned up by Mathias Bynens <http://mathiasbynens.be/>
         *
         * Based on the Vincenty direct formula by T. Vincenty, “Direct and Inverse
         * Solutions of Geodesics on the Ellipsoid with application of nested
         * equations”, Survey Review, vol XXII no 176, 1975
         * <http://www.ngs.noaa.gov/PUBS_LIB/inverse.pdf>
         */
        var a = 6378137,
            b = 6356752.3142,
            f = 1 / 298.257223563, // WGS-84 ellipsiod
            s = dist,
            alpha1 = toRad(brng),
            sinAlpha1 = Math.sin(alpha1),
            cosAlpha1 = Math.cos(alpha1),
            tanU1 = (1 - f) * Math.tan(toRad(lat1)),
            cosU1 = 1 / Math.sqrt((1 + tanU1 * tanU1)), sinU1 = tanU1 * cosU1,
            sigma1 = Math.atan2(tanU1, cosAlpha1),
            sinAlpha = cosU1 * sinAlpha1,
            cosSqAlpha = 1 - sinAlpha * sinAlpha,
            uSq = cosSqAlpha * (a * a - b * b) / (b * b),
            A = 1 + uSq / 16384 * (4096 + uSq * (-768 + uSq * (320 - 175 * uSq))),
            B = uSq / 1024 * (256 + uSq * (-128 + uSq * (74 - 47 * uSq))),
            sigma = s / (b * A),
            sigmaP = 2 * Math.PI;
        while (Math.abs(sigma - sigmaP) > 1e-12) {
          var cos2SigmaM = Math.cos(2 * sigma1 + sigma),
              sinSigma = Math.sin(sigma),
              cosSigma = Math.cos(sigma),
              deltaSigma = B * sinSigma * (cos2SigmaM + B / 4 * (cosSigma * (-1 + 2 * cos2SigmaM * cos2SigmaM) - B / 6 * cos2SigmaM * (-3 + 4 * sinSigma * sinSigma) * (-3 + 4 * cos2SigmaM * cos2SigmaM)));
          sigmaP = sigma;
          sigma = s / (b * A) + deltaSigma;
        };
        var tmp = sinU1 * sinSigma - cosU1 * cosSigma * cosAlpha1,
            lat2 = Math.atan2(sinU1 * cosSigma + cosU1 * sinSigma * cosAlpha1, (1 - f) * Math.sqrt(sinAlpha * sinAlpha + tmp * tmp)),
            lambda = Math.atan2(sinSigma * sinAlpha1, cosU1 * cosSigma - sinU1 * sinSigma * cosAlpha1),
            C = f / 16 * cosSqAlpha * (4 + f * (4 - 3 * cosSqAlpha)),
            Lo = lambda - (1 - C) * f * sinAlpha * (sigma + C * sinSigma * (cos2SigmaM + C * cosSigma * (-1 + 2 * cos2SigmaM * cos2SigmaM))),
            revAz = Math.atan2(sinAlpha, -tmp); // final bearing	

        return {lat: toDeg(lat2), lng: lon1 + toDeg(Lo)};
      };


      function getCone(lat, lng, bearing, angle, distance){
        /* Returns a polygon to be drawn to the map to show the current visual field
         */
        var conepoints = [];
        // by default, points are drawn every 5°, but if the angle to draw is
        // smaller than 5°, we draw no intermediary points
        var delta = 5;
        if (angle < 5){delta=angle};

        conepoints.push ([lat,lng]);

        for (i=0; i<=angle; i+=delta){
          conepoints.push([destVincenty(lat, lng, bearing-(angle/2.0)+i, distance).lat,
              destVincenty(lat, lng, bearing-(angle/2.0)+i, distance).lng]);
        }

        var p = L.polygon(conepoints, {
            color: 'grey',
            fillColor: 'grey',
            fillOpacity: 0.5
        });
        return p;
      };

      var viewField ;

      var map = L.map('mapid').setView([{{ panorama.latitude }}, {{ panorama.longitude }}], 13);
      // create the tile layer with correct attribution
      var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
      var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});		
      // start the map in Grenoble
      map.setView(new L.LatLng(45.1842, 5.7218),13);
      map.addLayer(osm);

      L.marker([{{ panorama.latitude }}, {{ panorama.longitude }}]).addTo(map);
      L.circle([{{ panorama.latitude }}, {{ panorama.longitude }}], 200, {
        color: 'grey',
        fillColor: 'grey',
        fillOpacity: 0.5
      }).addTo(map);

      var bearing = $('#angle_ctrl').val();

      viewField = getCone({{panorama.latitude}},{{panorama.longitude}},bearing,90,5000);

      viewField.addTo(map);

      $('#mon-canvas').on('mouseup', function(e) {
          bearing = $('#angle_ctrl').val();
          map.removeLayer(viewField);
          viewField = getCone({{panorama.latitude}},{{panorama.longitude}},bearing,90,5000);
          viewField.addTo(map);
          });
    </script>
  </body>
</html>
