{% extends "panorama/base.html" %}
{% load panorama_url %}
{% load staticfiles %}
{% load distance_filter %}
{% load i18n %}
{% load l10n %}

{% block title %}{{ panorama.name }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static "panorama/leaflet/v0.7.7/leaflet.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "panorama/css/leaflet.markercluster/0.4.0/MarkerCluster.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "panorama/css/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "panorama/css/markercluster.override.css" %}" />
{% endblock css %}

{% block js %}
{% localize off %}
    <script>
      var title = "{{ panorama.name|escapejs }}";
      var panorama_id = {{ panorama.pk }};
      var panorama_url = "/api/v1/panoramas/{{ panorama.pk }}/";
      var img_prefix = '{{ panorama.tiles_url }}';
      var image_loop = {{ panorama.loop|yesno:"true,false,undefined" }};
      var image_width = {{ panorama.image_width }};
      var image_height = {{ panorama.image_height }};
      if (image_loop){
        var image_cap_min = 0;
        var image_cap_max = 360;
      } else {
        var image_cap_min = {{ panorama.cap_min }};
        var image_cap_max = {{ panorama.cap_max }};
      };
      var panorama_lat = {{ panorama.latitude }};
      var panorama_lng = {{ panorama.longitude }};
      var csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{% static "panorama/js/pano.js" %}"></script>
    <script>
      {% for zoom_level, data in panorama.tiles_data.items %}
      zooms[{{ zoom_level }}] = new tzoom({{ zoom_level }});
      zooms[{{ zoom_level }}].ntiles.x = {{ data.ntiles_x }};
      zooms[{{ zoom_level }}].ntiles.y = {{ data.ntiles_y }};
      zooms[{{ zoom_level }}].tile.width = {{ data.tile_width }};
      zooms[{{ zoom_level }}].tile.height = {{ data.tile_height }};
      zooms[{{ zoom_level }}].last_tile.width = {{ data.last_tile_width }};
      zooms[{{ zoom_level }}].last_tile.height = {{ data.last_tile_height }};
      {% endfor %}

      {% for id, refpoint in panorama.refpoints_data %}
      point_list[{{ id }}] = new Array("{{ refpoint.name|escapejs }}", {{ refpoint.distance }}, {{ refpoint.cap }}, {{ refpoint.elevation }}, "{{ refpoint.url }}", "/api/v1/refpoints/{{ refpoint.id }}/");
      {% endfor %}

      ref_points = new Array();
      {% for ref in panorama.references_data %}
      ref_points["{{ ref.name|escapejs }}"] = {url: "/api/v1/references/{{ ref.id }}/", x: {{ ref.x }}, y: {{ ref.y }}, cap: {{ ref.cap }}, ele: {{ ref.elevation }}};
      {% endfor %}
    </script>
    <script src="{% static "panorama/js/hide_n_showForm.js" %}"></script>
    <script type='text/javascript' src="{% static "panorama/leaflet/v0.7.7/leaflet.js" %}"></script>
    <script type='text/javascript' src="{% static "panorama/js/jquery-3.0.0.min.js" %}"></script>
    <script type='text/javascript' src="{% static "panorama/js/leaflet.markercluster/0.4.0/leaflet.markercluster.js" %}"></script>
    <script>
      var markerClusters = L.markerClusterGroup({
          spiderfyOnMaxZoom: false,
          showCoverageOnHover: false,
          maxClusterRadius: 20
      });
      var panoIcon = L.icon({
          iconUrl: '{% static "panorama/img/marker-red.png" %}',
          iconSize: [22, 35],
          iconAnchor: [11, 35],
          popupAnchor: [0,-50]
      });
      var poiIcon = L.icon({
            iconUrl: '{% static "panorama/img/marker-circle-green.png" %}',
            iconSize: [20, 20],
            iconAnchor: [10, 10],
            popupAnchor: [0,-20]
      });

      
      {% for pano in panoramas %}
          {% if panorama.name != pano.name  %}
              var marker = L.marker([{{ pano.latitude }}, {{ pano.longitude }}], {icon: panoIcon, riseOnHover: true});
              marker.on("click",function(){document.location.href="{% url 'panorama:view_pano' pano.id %}"});
              var popup = marker.bindPopup('{{ pano.name }}',{className : 'markerpopup', closeButton: false,});
              popup.on('mouseover', marker.openPopup);
              popup.on('mouseout', marker.closePopup);
              markerClusters.addLayer( marker );
          {% endif %}
      {% endfor %}

      var pointsOfInterest = L.layerGroup();
      var poiOptions = {icon: poiIcon, riseOnHover: true};
      {% for poi in poi_list %}
          var marker = L.marker([{{ poi.latitude }}, {{ poi.longitude }}], poiOptions);
          var poiPopup = marker.bindPopup('{{ poi.name }}', {className : 'markerpopup', closeButton: false});
          poiPopup.on('mouseover', marker.openPopup);
          poiPopup.on('mouseout', marker.closePopup);
          pointsOfInterest.addLayer(marker);
      {% endfor %}
    </script>
    <script>
        // need to be after the initialization of the leaflet variables.
        window.onload = load_pano
    </script>
{% endlocalize %}
{% endblock js %}

{% block top-menu-title %}
    <a class="navbar-brand" href="{% url 'panorama:main' %}"><i class="fa fa-fw fa-home"></i></a>
    <a class="navbar-brand" href="">{{panorama.name}}</a>
{% endblock %}

{% block top-menu-pano-items %}
{% localize off %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-question-circle"></i>  {% trans "Parameters" %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                <div>
                  <p>{% trans "latitude:" %} <em><span id="pos_lat">{{ panorama.latitude }}</span>°</em></p>
                  <p>{% trans "longitude:" %} <em><span id="pos_lon">{{ panorama.longitude }}</span>°</em></p>
                  <p>{% trans "altitude:" %} <em><span id="pos_alt">{{ panorama.altitude }}</span> m</em></p>
                </div>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gears"></i>  {% trans "Controls" %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                  <label>{% trans "Zoom:" %} <input type="range" min="0" max="2" value="2" id="zoom_ctrl"/></label>
                  <label>{% trans "Bearing:" %} <input type="number" min="0" max="360" step="10" value="0" autofocus="" id="angle_ctrl"/></label>
                  <label>{% trans "Elevation:" %} <input type="number" min="-90" max="90" step="1" value="0" autofocus="" id="elvtn_ctrl"/></label>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i>  {% trans "Locate" %}<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>
                  <label class="form_col" title="La latitude ϵ [-90°, 90°]. Ex: 12.55257">{% trans "Latitude:" %}
                    <input  name="loca_latitude" type="number" min="-90" max="90"  id="loca_latitude"/></label>
                  <label class="form_col" title="La longitude ϵ [-180°, 180°]. Ex: 144.14723">{% trans "Longitude:" %}
                    <input name="loca_longitude" type="number" min="-180" max="180" id="loca_longitude"/></label>
                  <label class="form_col" title="L'altitude positive Ex: 170">{% trans "Altitude:" %}
                    <input  name="loca_altitude" type="number" min="-400" id="loca_altitude"/></label>
                  <div class="loca_buttons">
                    <input type="button" class="btn btn-info btn-sm" value="{% trans "Locate" %}" id="loca_button"/>
                    <input type="button" class="btn btn-danger btn-sm" value="{% trans "Delete" %}" id="loca_erase"/>
                  </div>
            </li>
        </ul>
    </li>
{% endlocalize %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block wrapper-style %}
style="padding-left:0px"
{% endblock %}

{% block content %}
{% endblock content %}



{% block pano %}
    <canvas id="mon-canvas">
      Ce message indique que ce navigateur est vétuste car il ne supporte pas <samp>canvas</samp> (IE6, IE7, IE8, ...)
    </canvas>
    <p id="info"></p>
    <p id="insert"><select id="sel_point" name="known_points">
        {% for id, refpoint in panorama.refpoints_data %}
        <option>{{ refpoint.name }}</option>
        {% endfor %}
      </select>
      <input type="button" id="do-insert" class="btn btn-primary btn-sm" value={% trans "Insert" %} />
      <input type="button" id="do-delete" class="btn btn-danger btn-sm" value={% trans "Delete" %} />
      <input type="button" id="do-cancel" class="btn btn-warning btn-sm" value={% trans "Cancel" %} />
    </p>
    <a href="#" title="Hide/show map"><i id="expandmap" class="fa fa-compress" aria-hidden="true"></i></a>
    <div id="mapid"></div>
{% endblock pano %}

